@model SalesWebMvc.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger" >@ViewData["Title"]</h1>
<h2 class="text-danger">@Model.Message</h2>


<link rel="stylesheet" type="text/css" href="css/Erro.css">


@if (Model.ShowRequestId)
{
<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
}
